
* {
    box-sizing: border-box;
  }
  body,html {
    margin:0;
    height: 100vh;
  }
  body {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #fffcf9;
  }
  
  .container {
    
    height: 500px;
    width: 1500px;
    background-color: #fff9f3a0;
    display: flex;
    border-radius: 3%;
  }
  .left, .right {
    height: 100%;
    transition: all 0.5s;
    flex:  50%;
  }
  
  .left:hover, .right:hover {
    flex:  70%;
    
  }

  .left {
    background-image: url(./images/Untitled.png);
    background-size: cover;
    -webkit-background-size : cover ;
    -moz-background-size : cover ;
    -o-background-size: cover;
  }
  
  .right {
    background-image: url(./images/seller\ img.png);
    background-size: cover;
    -webkit-background-size : cover ;
    -moz-background-size : cover ;
    -o-background-size: cover;
  }
  h2 , h4{
    text-align: center;
    text-decoration: underline;
   
  }
  h1{
    text-align: center;
  
    color: rgb(73, 73, 73);
  }

  .navbar  {
    width: 100%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50PX;

 }

body{
  font-family: 'Poppins';font-size: 22px;
    margin: 0%;
     width: 100%;
height: 100vh;}
  .logo {
     
    width: 200px;
    cursor: pointer;
       }


      
      